@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

body {
  font-family: 'Changa', sans-serif;
}

@layer components {
    .landing-page-bg {
        background-image: url('/runaway_black_hole_desktop.png');
        background-size: cover; /* Resize the background image to cover the element */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Prevent the image from repeating */
        color: white;
        min-height: 100vh; /* Ensure the main element covers the full viewport height */
      }
}