@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  overflow: hidden; /* Hide scrollbars */
  /*background-color: black;*/
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/


/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
    */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .landing-page-bg {
    /*background-color: black !important;*/
    background-image: url('/runaway_black_hole_desktop.png');
    background-size: cover; /* Resize the background image to cover the element */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    color: white;
    padding: 10px;
    min-height: 100vh; /* Ensure the main element covers the full viewport height */
  }

  .cont {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 50vw;
  }
  
  .grid-item {
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    height: 30vh;
  }
}
