@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  overflow: hidden; /* Hide scrollbars */
}

body {
  font-family: 'Changa', sans-serif;
}

@layer components {
  /* LANDING PAGE */ 
  .landing-page-bg {
    background-image: url('/runaway_black_hole_desktop.png');
    background-size: cover; /* Resize the background image to cover the element */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    color: white;
    min-height: 100vh; /* Ensure the main element covers the full viewport height */
  }

  .heading {
    font-size: 40px;
    padding: 20px;
  }

  .cont {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 50vw;
  }
  
  .grid-item {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    padding: 75px;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    height: 30vh;
    transition: background-color 0.3s ease;
  }

  .link-wrapper {
    display: block;
    text-decoration: none; /* Remove underline from the link */
  }

  .link-wrapper:hover .grid-item {
    background-color: rgba(92, 92, 92, 0.5); /* Change background color on hover */
  }

  /* */ 
}
